<table class="table table-striped mt-3">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prix</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of list()">
      <td>{{ p.id }}</td>
      <td>{{ p.nom }}</td>
      <td>{{ p.prix }}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <button (click)="add()" class="btn btn-lg btn-success">
          <i class="bi bi-plus"></i>
        </button>
      </td>
    </tr>
    <tr *ngIf="produitForm">
      <td>
        <input
          type="number"
          [(ngModel)]="produitForm.id"
          class="form-control"
          readonly
        />
      </td>
      <td>
        <input type="text" [(ngModel)]="produitForm.nom" class="form-control" />
      </td>
      <td>
        <input
          type="number"
          [(ngModel)]="produitForm.prix"
          class="form-control"
        />
      </td>
    </tr>
  </tfoot>
</table>
